.wr-clients {
    margin-top: 85px;

    .hipster-says {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        border: 1px solid #a8a5a5;
        padding: 45px 100px 70px;
    
        svg {
            height: 45px;
            margin-bottom: 50px;
        }
    
        p {
            font-family: "LatoLightItalic", sans-serif;
            font-weight: 300;
            font-size: 17px;
            letter-spacing: 1.5px;
            line-height: 30px;
            margin-top: 0;
            text-align: center;
        }
    
        span {
            font-family: "LatoLight", sans-serif;
            font-weight: 300;
            font-size: 23px;
            margin-top: 50px;
        }
    }
}

.slider-container-logos {
    display: flex;
    justify-content: space-between;
}

.swiper-container-clients {
    width: 100%;
    height: 100%;
    margin-top: 155px;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  }


  .swiper-button-next::before {
    content: "";
    background-image: url("../media/cliens/caret-right-solid.svg");
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    color: #000;
}