.wr-contacts {
    padding-top: 110px;
    padding-bottom: 95px;
}

.maps-container {
    margin-top: 125px;
    iframe {
        width: 100%;
        height: 475px;
    }  
}

.contact-info {
    width: 48.5%;
    h4 {
        font-family: "LatoThin", sans-serif;
        font-size: 20px;
        margin-bottom: 30px;
    }

    svg {
        height: 35px;
        color: #2d2929;
    }

    p {
        font-family: "LatoLight", sans-serif;
        font-size: 16px;
        margin-left: 100px;
    }

    a {
        color: #3b3737;
    }

    a:hover {
        font-weight: bold;
    }
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}

.contact-info-phone,
.contact-info-email,
.contact-info-address {
    border: 1px solid #2d2929;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 80px;

    p {
        font-family: "LatoLight", sans-serif;
        letter-spacing: 1.2px;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.subscribe {
    width: 48.5%;
    h4 {
        font-family: "LatoThin", sans-serif;
        font-size: 20px;
        margin-bottom: 30px;
    }

    input {
        width: 100%;
        border: none;
        font-family: "LatoLightItalic", sans-serif;
        font-style: italic;
        margin-left: 20px;
        font-size: 20px;

    }

    input[type="text"]::placeholder {
        color: #d1d1d1;
    }
}

.subscribe-name,
.subscribe-email,
.subscribe-submit {
    border: 1px solid #2d2929;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 80px;

    span {
        font-family: "LatoRegular",sans-serif;
        font-size: 16px;
        padding-right: 15px;
    }
}

.subscribe-submit {
    display: flex;
    justify-content: center;
    background-color: #2d2929;

    svg {
        height: 40px;
        color: #fff;
    }
    button {
        width: 100%;
        height: 100%;
     
     &:hover {
            svg {
                transform: scale(1.2);
            }
        }
    }
}



.subscribe-name,
.subscribe-email {
    input:focus {
            outline: none;
        
    }
}


@media all and (max-width: 1200px ) {
    .contact-info {
        p {
            margin-left: 40px;
        }
    }
}

@media all and (max-width: 850px ) {
    .contact-info {
        p {
            margin-left: 15px;
        }
    }
}

@media all and (max-width: 800px ) {
    .contact-container {
        flex-direction: column;
    }
    .contact-info,
    .subscribe {
        width: 100%;
    }

    .contact-info {
        p {
            margin-left: 50px;
        }
    }
}

@media all and (max-width: 550px ) {
    .contact-info {
        p {
            margin-left: 15px;
        }
    }
}

@media all and (max-width: 500px ) {
    .contact-info {
        svg {
            height: 30px;
        }

        p {
            font-size: 14px;
        }
    }

    .subscribe {
        input[type="text"]::placeholder {
            font-size: 14px;
        }
    }
}

@media all and (max-width: 500px ) {
    .contact-info {
        svg {
            height: 25px;
        }

        p {
            font-size: 12px;
        }
    }
}