.wr-services {
    padding-top: 45px;
}


.section-shapes {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

.ellipse {
    width: 271px;
    height: 270px;
    background-image: url("../media/services/ellipse.png");
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse-1 {
    &:before {
        content: "";
        width: 271px;
        height: 271px;
        position: absolute;
        background-image: url("../media/services/ellipse-photoshop.png");
        background-repeat: no-repeat;
    }
}

.ellipse-2 {
    &:before {
        content: "";
        width: 271px;
        height: 271px;
        position: absolute;
        background-image: url("../media/services/ellipse-html.png");
        background-repeat: no-repeat;
    }

}

.ellipse-3 {
    &:before {
        content: "";
        width: 271px;
        height: 271px;
        position: absolute;
        background-image: url("../media/services/ellipse-cinema.png");
        background-repeat: no-repeat;
    }
}

.ellipse-4 {
    &:before {
        content: "";
        width: 271px;
        height: 271px;
        position: absolute;
        background-image: url("../media/services/ellipse-js.png");
        background-repeat: no-repeat;
    }
}

.section-shapes {
    span {
        font-family: "LatoLight", sans-serif;
        color: #534741;
        font-size: 72px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%,-60%);
    }

    p {
        color: #534741;
        text-align: center;
        font-size: 21px;
        position: absolute;
        top: 52%;
        left: 32%;
    }

    .percent {
        font-size: 35px;
        position: absolute;
        top: 44%;
        left: 118%;
    }
}